.center{text-align: center;}
.modal_top_alto{margin-top: 80px;}
.box-pessoa-fisica{display: none;}
.box-pessoa-juridica{display: block;}
.boxBtnTopo > a{margin-top: 10px; margin-left: 5px;}
.boxBtnTopo > button{margin-top: 10px; margin-left: 5px;}
.boxBtnTopo .btnMargin {margin-right: 15px;}
.marginTop10{margin-top: 10px;}
.marginTop17{margin-top: 17px;}
.marginBottom5{margin-bottom: 5px;}
.marginBottom10{margin-bottom: 10px;}
.marginBottom50{margin-bottom: -50px;}
.marginTop20{margin-top: 20px;}
.msg_retorno{text-align: center; margin-bottom: 10px;}
#erroFone{color: #af4c4c; margin-top: 5px;}
#erroContaBancaria{color: #af4c4c; margin-top: 5px;}
#erroEmail{color: #af4c4c; margin-top: 5px;}
.select2-container .select2-choice, .select2-selection{padding: 0 8px;}
.error{color:#bb2020;}
.excluirFone{ display: pointer; }
.novoModal{ display: pointer; }
.label-black{color: #000; font-size: 90% !important; }
.box-desconto{display: none;}
.box-left{ padding-left: 0px }
.excluirUserRole{ cursor: pointer; }
.popover-title { padding: 9px 14px; !important }
.popover-content{ padding: 9px 14px; !important }
.btn-honorario{ margin-left: 8px; padding: 3.2px 10px !important;  }
.icon-honorario{ font-size: 15px; }
.tabelah {
    width: 100%;
    overflow-x: scroll;
}
.btn-upload{ padding: 1px 8px; padding: 1px 8px; color: #3276b1; cursor: pointer; }
.btn-atuacao{ margin-right: 3px; margin-top: 3px;  }

.taxa-honorario{ min-width: 90px; }
.box_busca_data{border: 1px solid #ece9e9; background: #f3f1f1; padding-bottom: 0px;}

.btnFoneEditar{ cursor: pointer; margin-right: 8px;}
.btnFoneExcluir{ cursor: pointer; margin-left: 8px; }

.btnEmailEditar{ cursor: pointer; margin-right: 8px;}
.btnEmailExcluir{ cursor: pointer; margin-left: 8px; }

.btnContaEditar{ cursor: pointer; margin-right: 8px;}
.btnContaExcluir{ cursor: pointer; margin-left: 8px; }

.files { padding-left: 20px; margin-top: 20px; }

.profile 
{
    min-height: 355px;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
      
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: -125px;
    }


.img_msg{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg{margin-bottom: 12px;}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.write_msg{
  width: 94%;
  border: none;
  resize: none;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: justify;
}

.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.ui-menu-item a
{
  max-width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}  
.select2-selection.required {
    background-color: yellow !important;
}