.croppie-container {
	padding: 30px;
}
.croppie-container .cr-image {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: 0 0;
    max-width: none;
}

.croppie-container .cr-boundary {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	z-index: 1;
}

.croppie-container .cr-viewport {
	position: absolute;
	border: 2px solid #fff;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
	z-index: 0;
}
.croppie-container .cr-vp-circle {
	border-radius: 50%;
}
.croppie-container .cr-overlay {
	z-index: 1;
	position: absolute;
	cursor: move;
}
.croppie-container .cr-slider-wrap {
	width: 75%;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
}
.croppie-result {
	position: relative; 
	overflow: hidden;
}
.croppie-result img {
	position: absolute;
}
.croppie-container .cr-image,
.croppie-container .cr-overlay, 
.croppie-container .cr-viewport {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/

.cr-slider {
    -webkit-appearance: none;/*removes default webkit styles*/
    /*border: 1px solid white; *//*fix for FF unable to apply focus style bug */
    width: 300px;/*required for proper track sizing in FF*/
    max-width: 100%;
}
.cr-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 3px;
}
.cr-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}
.cr-slider:focus {
    outline: none;
}
/*
.cr-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
*/

.cr-slider::-moz-range-track {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 3px;
}
.cr-slider::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}

/*hide the outline behind the border*/
.cr-slider:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.cr-slider::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    border-color: transparent;/*leave room for the larger thumb to overflow with a transparent border */
    border-width: 6px 0;
    color: transparent;/*remove default tick marks*/
}
.cr-slider::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.cr-slider::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.cr-slider::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
}
.cr-slider:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.5);
}
.cr-slider:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.5);
}
/*******************************************/

/***********************************/
/* Rotation Tools */
/***********************************/
.cr-rotate-controls {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
}
.cr-rotate-controls button {
    border: 0;
    background: none;
}
.cr-rotate-controls i:before {
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
}
.cr-rotate-l i:before {
    content: '↺';
}
.cr-rotate-r i:before {
    content: '↻';
}


.fileinput {
  overflow: hidden;
  position: relative;
  display: inline-block; }
  .fileinput input {
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
    position: absolute; }

.drop-window {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  z-index: 250000;
  text-align: center;
  pointer-events: none;
  transition: opacity 250ms;
  background: rgba(52, 73, 94, 0.62); }

.drop-window-content {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  position: absolute;
  border: 2px dashed #fff; }
  .drop-window-content h3 {
    left: 0;
    right: 0;
    top: 50%;
    padding: 0;
    color: #fff;
    font-size: 34px;
    margin: -8px 0 0;
    position: absolute;
    transform: translateY(-50%); }
    .drop-window-content h3 .fa {
      display: block;
      font-size: 40px;
      margin-bottom: 10px; }

.camera-preview video {
  width: 100% !important;
  height: auto !important; }

.crop-preview {
  display: none; }
  .crop-preview .img-responsive {
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 500px; }

/* .loader
-----------------------------------------------------------------------------------------*/
.loader {
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
  z-index: 1999;
}
.loader .loader-load {
  background: #000000 url(../img/loader.gif) no-repeat 50% 50%;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 1000;
}
.loader .loader-overlay {
  background: #000;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  -webkit-opacity: 0.6;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-opacity: 0.6;
  -o-opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.loader.hide {
  display: none !important;
}
.loader.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  right: 0;
  top: 0;
  width: 100%;
}
.loader.overlay .loader-overlay {
  display: block;
}


/*
 * A colorselector for Twitter Bootstrap which lets you select a color from a predefined set of colors only.
 * https://github.com/flaute/bootstrap-colorselector
 *
 * Copyright (C) 2014 Flaute
 *
 * Licensed under the MIT license
 */

/* colorselector dropdown */
.dropdown-colorselector>.dropdown-menu {
  top: 120%;
  left: 125px;
  padding: 4px;
  min-width: 130px;
  max-width: 130px;
}

/*
.dropdown-colorselector>.dropdown-menu.pull-right {
  right: -7px;
  left: auto;
}
*/
.dropdown-colorselector>.dropdown-menu>li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  position: relative;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn.selected:after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  font-size: 11px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
}

.btn-colorselector {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #DDD;
  vertical-align: middle;
  border-radius: 0;
}

.dropdown-menu.dropdown-caret:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}

.dropdown-menu.dropdown-caret:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}

/*
.dropdown-menu.pull-right.dropdown-caret:before {
  left: auto;
  right: 9px;
}

.dropdown-menu.pull-right.dropdown-caret:after {
  left: auto;
  right: 10px;
}
*/